<%= form_for @gossip_id do |f| %>
  <div class="form-row">
    <div class="form-group col-md-2">
      Titre du Gossip : <%= f.text_field :title, class: 'form-control',  placeholder: 'Nom du gossip' %>
    </div>
    <div class="form-group col-md-2">
    Contenue du gossip : <%= f.text_area :content, class: 'form-control', placeholder: 'Ecris ton gossip...' %>
    </div>
  </div>
  <div class="form-group col-md-4">
    Pseudo Secret : <%= f.text_area :anonymous_gossiper, class: 'form-control', placeholder: 'Secret name' %>
  </div>
    <%= f.submit class: 'btn btn-primary' %>
    <%= puts params %>
    <% puts params %>

<% end %>
