<p>ID : <%= @gossip_id.id %></p>

<p>Title : <%= @gossip_id.title %> </p>

<p>Content :<%= @gossip_id.content %></p>

<p>Secret Name :<%= @gossip_id.anonymous_gossiper %></p>

<div class="btn btn-dark"><%= link_to "Editer le Gossip", edit_gossip_path %></div>

<div class="btn btn-dark"><%= link_to 'Clique pour détruire', @gossip, method: :delete %></div>


<%= form_for @gossip_id do |f| %>
  <div class="form-row">
    <div class="form-group col-md-2">
      Titre du Gossip : <%= f.text_field :title, class: 'form-control',  placeholder: 'Nom du gossip' %>
    </div>
    <div class="form-group col-md-2">
    Contenue du gossip : <%= f.text_area :content, class: 'form-control', placeholder: 'Ecris ton gossip...' %>
    </div>
  </div>
  <div class="form-group col-md-4">
    Pseudo Secret : <%= f.text_area :anonymous_gossiper, class: 'form-control', placeholder: 'Secret name' %>
  </div>
    <%= f.submit class: 'btn btn-primary' %>

<% end %>




